/* ========================== */
/* MAIN CSS */
/* ========================== */

body {
    margin: 0;
    height: 100dvh;

    display: grid;
    place-items: center;

    perspective: 30em;
    perspective-origin: center center;
    transform-style: preserve-3d;
}

div {
    position: fixed;
    width: 10em;
    aspect-ratio: 1;
    opacity: .5;
}


.red {
    background-color: red;
    rotate: x 90deg;
    transform-origin: bottom center;

}

.blue {
    background-color: blue;
    translate: 5em 0 -5em;
    rotate: y 90deg;
    transform-origin: center center;
}

.green {
    background-color: green;
    translate: -5em 0 -5em;
    rotate: y 90deg;
    transform-origin: center center;
}

.yellow {
    background-color: yellow;
    rotate: x -90deg;
    transform-origin: top center;
}