/* ========================== */
/* SHADING */
/* ========================== */

div::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
}

/* front */
div:nth-of-type(1)::before {
    opacity: .15;
}

/* back */
div:nth-of-type(2)::before {
    opacity: .45;
}

/* top */
div:nth-of-type(3)::before {
    opacity: 0;
}

/* bottom */
div:nth-of-type(4)::before {
    opacity: 0.6;
}

/* let right */
div:nth-of-type(5)::before,
div:nth-of-type(6)::before {
    opacity: .3;
}


/* ========================== */
/* COLORS */
/* ========================== */


/* front */
header>div:nth-of-type(1) {
    background:
        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 20%,
            0, var(--gray-400) 40%,
            0, var(--white-300) 60%,
            0, var(--gray-400) 80%,
            0, var(--gray-400) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--green) 0%, var(--green) 20%,
            0, var(--black) 40%,
            0, var(--white-200) 60%,
            0, var(--black) 80%,
            0, var(--green) 100%) no-repeat 0% 33.3%,

        linear-gradient(90deg,
            var(--white-200) 0%, var(--white-200) 20%,
            0, var(--black) 40%,
            0, var(--black) 60%,
            0, var(--black) 80%,
            0, var(--white-200) 100%) no-repeat 0% 66.6%,

        linear-gradient(90deg,
            var(--white-300) 0%, var(--white-300) 20%,
            0, var(--black) 40%,
            0, var(--black) 60%,
            0, var(--black) 80%,
            0, var(--white-300) 100%) no-repeat 0% 100%;
    background-size: 100% 26%;
}

/* back */
header>div:nth-of-type(2) {
    background-color: var(--white-400);
}

/* top */
header>div:nth-of-type(3) {
    background:
        linear-gradient(90deg,
            var(--gray-400), var(--gray-400) 20%,
            0, var(--gray-300) 40%,
            0, var(--gray-100) 60%,
            0, var(--gray-300) 80%,
            0, var(--gray-400) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 20%,
            0, var(--gray-200) 40%,
            0, var(--gray-400) 60%,
            0, var(--gray-300) 80%,
            0, var(--gray-200) 100%) no-repeat 0% 25%,

        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 20%,
            0, var(--gray-400) 40%,
            0, var(--gray-200) 60%,
            0, var(--gray-400) 80%,
            0, var(--gray-200) 100%) no-repeat 0% 50%,

        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 20%,
            0, var(--gray-400) 40%,
            0, var(--gray-300) 60%,
            0, var(--gray-400) 80%,
            0, var(--gray-300) 100%) no-repeat 0% 75%,

        linear-gradient(90deg,
            var(--gray-200) 0%, var(--gray-200) 20%,
            0, var(--gray-300) 40%,
            0, var(--gray-300) 60%,
            0, var(--gray-300) 80%,
            0, var(--gray-200) 100%) no-repeat 0% 100%;
    background-size: 100% 21%;
}

/* bottom */
header>div:nth-of-type(4) {}

/* left */
header>div:nth-of-type(5) {
    background:
        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 20%,
            0, var(--gray-200) 40%,
            0, var(--gray-300) 60%,
            0, var(--gray-400) 80%,
            0, var(--gray-400) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--gray-bright) 0%, var(--gray-bright) 20%,
            0, var(--gray-500) 40%,
            0, var(--gray-200) 60%,
            0, var(--gray-200) 80%,
            0, var(--gray-300) 100%) no-repeat 0% 33.3%,

        linear-gradient(90deg,
            var(--white-300) 0%, var(--white-300) 20%,
            0, var(--gray-bright) 40%,
            0, var(--gray-400) 60%,
            0, var(--gray-bright) 80%,
            0, var(--white-500) 100%) no-repeat 0% 66.6%,

        linear-gradient(90deg,
            var(--white-300) 0%, var(--white-300) 20%,
            0, var(--white-400) 40%,
            0, var(--white-400) 60%,
            0, var(--white-500) 80%,
            0, var(--white-500) 100%) no-repeat 0% 100%;
    background-size: 100% 26%;
}

/* right */
header>div:nth-of-type(6) {
    background:
        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 20%,
            0, var(--gray-200) 40%,
            0, var(--gray-300) 60%,
            0, var(--gray-400) 80%,
            0, var(--gray-400) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--gray-bright) 0%, var(--gray-bright) 20%,
            0, var(--gray-500) 40%,
            0, var(--gray-200) 60%,
            0, var(--gray-200) 80%,
            0, var(--gray-300) 100%) no-repeat 0% 33.3%,

        linear-gradient(90deg,
            var(--white-300) 0%, var(--white-300) 20%,
            0, var(--gray-bright) 40%,
            0, var(--gray-400) 60%,
            0, var(--gray-bright) 80%,
            0, var(--white-500) 100%) no-repeat 0% 66.6%,

        linear-gradient(90deg,
            var(--white-300) 0%, var(--white-300) 20%,
            0, var(--white-400) 40%,
            0, var(--white-400) 60%,
            0, var(--white-500) 80%,
            0, var(--white-500) 100%) no-repeat 0% 100%;
    background-size: 100% 26%;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* MOUTH */

/* front */
mouth div:nth-of-type(1) {
    background:
        linear-gradient(90deg,
            var(--white-200) 0%, var(--white-200) 33.3%,
            0, var(--pink) 66.6%,
            0, var(--white-200) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--white-300) 0%, var(--white-300) 33.3%,
            0, var(--white-200) 66.6%,
            0, var(--white-300) 100%) no-repeat 0% 100%;
    background-size: 100% 50%;
}

/* back */
mouth div:nth-of-type(2) {
    /* nothing */
}

/* top */
mouth div:nth-of-type(3) {
    background-color: var(--white-300);
}

/* bottom */
mouth div:nth-of-type(4) {
    background-color: var(--white-300);
}

/* left */
mouth div:nth-of-type(5) {
    background:
        linear-gradient(90deg,
            var(--white-200) 0%, var(--white-200) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--white-300) 0%, var(--white-300) 100%) no-repeat 0% 100%;
    background-size: 100% 50%;
}

/* right */
mouth div:nth-of-type(6) {
    background:
        linear-gradient(90deg,
            var(--white-200) 0%, var(--white-200) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--white-300) 0%, var(--white-300) 100%) no-repeat 0% 100%;
    background-size: 100% 50%;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* EARS */


/* front */
ears>div div:nth-of-type(1) {
    background:
        linear-gradient(90deg,
            var(--gray-400) 0%, var(--gray-400) 100%) no-repeat 0% 100%;
    background-size: 100% 100%;
}

/* back */
ears>div div:nth-of-type(2) {
    background:
        linear-gradient(90deg,
            var(--gray-200) 0%, var(--gray-200) 100%) no-repeat 0% 100%;
    background-size: 100% 100%;
}

/* top */
ears>div div:nth-of-type(3) {
    background:
        linear-gradient(90deg,
            var(--gray-200) 0%, var(--gray-200) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 100%) no-repeat 0% 100%;
    background-size: 100% 50%;
}

/* bottom */
ears>div div:nth-of-type(4) {}

/* right */
ears>div div:nth-of-type(5) {
    background:
        linear-gradient(90deg,
            var(--gray-200) 0%, var(--gray-200) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 100%) no-repeat 0% 100%;
    background-size: 100% 50%;
}

/* left */
ears>div div:nth-of-type(6) {
    background:
        linear-gradient(90deg,
            var(--gray-200) 0%, var(--gray-200) 100%) no-repeat 0% 0%,

        linear-gradient(90deg,
            var(--gray-300) 0%, var(--gray-300) 100%) no-repeat 0% 100%;
    background-size: 100% 50%;
}