:root {
    --controls-bg-500: #151515;
    --controls-bg-400: #1D1B1B;
    --controls-bg-300: #252323;
    --controls-bg-200: #292727;
    --controls-bg-100: #464646;

    --controls-border-200: #969696;
    --controls-border-100: #E5E5E5;
}


/* ========================== */
/* CAMERA */
/* ========================== */

body>label {
    position: absolute;
    left: 50%;
    bottom: 4em;
    translate: -50% 0;
}




/* -=-=-=-=-=-=- GENERAL STYLING -=-=-=-=-=-=- */

form fieldset:not(fieldset:nth-of-type(1)) {
    border: none;
}

form label {
    font-size: .75em;
}


/* ========================== */
/* CONTROLS */
/* ========================== */

section {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 15em;
    background-color: var(--controls-bg-300);
    border: 1px solid var(--controls-border-200);
    border-radius: 10px;
    padding: .8em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* -=-=-=-=-=-=- CHECKBOX + h1 -=-=-=-=-=-=- */

section>div {
    display: flex;
    justify-content: space-between;
}

section div label {
    font-size: 1em;
    font-weight: var(--extra-bold);
}

section:has(> div > input:checked) form {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form {
    display: none;
}

/* -=-=-=-=-=-=- FIELDSET 1 -=-=-=-=-=-=- */

fieldset:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: .25em;
    border: 1px solid var(--controls-border-200);
    background-color: var(--controls-bg-100);
    border-radius: .33em;
}

form:has(fieldset:nth-of-type(1) input:nth-of-type(1):checked) fieldset:nth-of-type(3) {
    display: none;
}

form:has(fieldset:nth-of-type(1) input:nth-of-type(2):checked) fieldset:nth-of-type(2) {
    display: none;
}

fieldset:nth-of-type(1) input {
    display: none;
}

fieldset:nth-of-type(1):has(input:nth-of-type(1):checked) label:nth-of-type(1) {
    background-color: var(--controls-bg-500);
    outline: solid 1px var(--controls-border-100);
}

fieldset:nth-of-type(1):has(input:nth-of-type(2):checked) label:nth-of-type(2) {
    background-color: var(--controls-bg-500);
    outline: solid 1px var(--controls-border-100);
}

fieldset:nth-of-type(1) label:nth-of-type(1),
fieldset:nth-of-type(1) label:nth-of-type(2) {
    padding: .5em 1em;
    border-radius: .33em;
    display: flex;
    justify-content: center;
}

/* -=-=-=-=-=-=- FIELDSET 2 & 3 -=-=-=-=-=-=- */

form fieldset:nth-of-type(1)~fieldset {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form fieldset:nth-of-type(1)~fieldset label {
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: var(--controls-bg-500);
    padding: 1em;
    border-radius: 7.5px;
    border: 1px solid var(--controls-border-200);
}

form fieldset:nth-of-type(1)~fieldset label div {
    position: relative;
    width: 100%;
    padding: 1.25em .75em 1.25em 3em;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    background-color: var(--controls-bg-300);
}

form fieldset:nth-of-type(1)~fieldset label div::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 1.2em;
    translate: 0 -50%;
    background-color: #fff;
}