/* ========================== */
/* CSS RESET */
/* ========================== */

:root {
  /* ===== colors ===== */
  /* whites */
  --white-100: hsl(4, 0%, 86%);
  --white-200: hsl(4, 0%, 83%);
  --white-300: hsl(4, 0%, 80%);
  --white-400: hsl(4, 0%, 75%);
  --white-500: hsl(4, 0%, 69%);

  /* grays */
  --gray-bright: hsl(0, 0%, 45%);
  --gray-100: hsl(0, 0%, 35%);
  --gray-200: hsl(0, 0%, 30%);
  --gray-300: hsl(0, 0%, 25%);
  --gray-400: hsl(0, 0%, 22%);
  --gray-500: hsl(0, 0%, 16%);

  /* eye */
  --green: hsl(127, 36%, 67%);
  --pink: hsl(307, 22%, 53%);
  --black: hsl(0, 0%, 9%);

  /* fonts */
  --heavy: 900;
  --extra-bold: 800;
  --bold: 700;
  --demi-bold: 600;
  --medium: 500;
  --light: 400;

  /* measurements */

  /* paragraphs */

  /* padding */

  interpolate-size: allow-keywords;
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

.invisible {
  display: none;
}

/* ========================== */
/* SET UP */
/* ========================== */

body {
  background-color: hsl(0, 4%, 11%);
  margin: 0;
  height: 100dvh;

  display: grid;
  place-items: center;

  perspective: 40em;
  perspective-origin: center center;
  transform-style: preserve-3d;
}

body * {
  transform-style: preserve-3d;
}

div {
  position: absolute;
}