/* ========================== */
/* CSS RESET */
/* ========================== */

:root {
  /* fonts */
  --heavy: 900;
  --extra-bold: 800;
  --bold: 700;
  --demi-bold: 600;
  --medium: 500;
  --light: 400;

  interpolate-size: allow-keywords;
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
a,
p,
label,
fieldset {
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  color: var(--white-100);
}

legend {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  display: block;
  width: 100%;
}

.invisible {
  display: none;
}

/* ========================== */
/* SET UP */
/* ========================== */

body {
  background-color: #1d1b1b;
  margin: 0;
  height: 100dvh;

  display: grid;
  place-items: center;

  perspective: 40em;
  perspective-origin: center center;
  transform-style: preserve-3d;
}

cat * {
  transform-style: preserve-3d;
}

cat div {
  position: absolute;
}