:root {
    --torso-x: calc(var(--unitless-torso-x) * 1em);
    --torso-y: calc(var(--unitless-torso-y) * 1em);
    --torso-z: calc(var(--unitless-torso-z) * 1em);

    --head-x: calc(var(--unitless-head-x) * 1em);
    --head-y: calc(var(--unitless-head-y) * 1em);
    --head-z: calc(var(--unitless-head-z) * 1em);

    --camera-rotations: 2turn;
    --camera-rotation: calc(var(--unitless-camera-rotation) * var(--camera-rotations));

    --walk-em: calc(var(--unitless-walk) * 1em);
    --walk-progress: calc((var(--unitless-walk) + 5) / 10);
    --walk-s: calc(var(--walk-progress) * -2s);

}


cat {
    position: absolute;
    transform-style: preserve-3d;
    cursor: grab;
    transform:
        rotateX(-20deg) rotateY(calc(360deg - var(--camera-rotation))) translateY(-3em) translateZ(calc(var(--walk-em) * 3));
    transition: transform .05s linear;
}

cat header {
    transition: rotate 1s ease;
}


cat:hover header {
    rotate: z 30deg;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* TORSO */

torso {
    position: absolute;
    width: 100%;
    height: 100%;


    &>div {
        background-color: #ff000062;
    }

    /* front */
    &>div:nth-of-type(1) {
        width: var(--torso-x);
        height: var(--torso-y);
        translate: calc(var(--torso-x) / -2) calc(var(--torso-y) / -2) calc(var(--torso-z) / 2);
    }

    /* back */
    &>div:nth-of-type(2) {
        width: var(--torso-x);
        height: var(--torso-y);
        translate: calc(var(--torso-x) / -2) calc(var(--torso-y) / -2) calc(var(--torso-z) / -2);
    }

    /* top */
    &>div:nth-of-type(3) {
        width: var(--torso-x);
        height: var(--torso-z);
        translate: calc(var(--torso-x) / -2) calc(var(--torso-y) / -2) calc(var(--torso-z) / -2);
        rotate: x 90deg;
        transform-origin: top;
    }

    /* bottom */
    &>div:nth-of-type(4) {
        width: var(--torso-x);
        height: var(--torso-z);
        translate: calc(var(--torso-x) / -2) calc(var(--torso-y) / 2) calc(var(--torso-z) / -2);
        rotate: x 90deg;
        transform-origin: top;
    }

    /* left */
    &>div:nth-of-type(5) {
        width: var(--torso-z);
        height: var(--torso-y);
        translate: calc(var(--torso-x) / -2) calc(var(--torso-y) / -2) calc(var(--torso-z) / 2);
        rotate: y 90deg;
        transform-origin: left;
    }

    /* right */
    &>div:nth-of-type(6) {
        width: var(--torso-z);
        height: var(--torso-y);
        translate: calc(var(--torso-x) / 2) calc(var(--torso-y) / -2) calc(var(--torso-z) / 2);
        rotate: y 90deg;
        transform-origin: left;
    }
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* TAIL */

tail {
    position: absolute;
    width: calc(var(--torso-x) / 4);
    height: calc(var(--torso-y) / 6);
    background-color: green;
    translate: calc(var(--torso-x) / 4 + 50%) calc(var(--torso-y) / 6 - 50%) calc(var(--torso-z) / 16);
    transform-origin: top;
    rotate: x 45deg;

    &>div {
        background-color: #ff000062;
    }

    /* front */
    &>div:nth-of-type(1) {
        display: none;
    }

    /* back */
    &>div:nth-of-type(2) {
        width: calc(var(--torso-x) / 4);
        height: calc(var(--torso-y) / 6);
        translate: 0 0 calc(var(--torso-z) / -2);


        /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
        /* TAIL2 */

        tail2 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: green;
            rotate: x -45deg;
            transform-origin: bottom;

            &>div {
                background-color: #ff000062;
            }

            /* front */
            &>div:nth-of-type(1) {
                display: none;
            }

            /* back */
            &>div:nth-of-type(2) {
                width: calc(var(--torso-x) / 4);
                height: calc(var(--torso-y) / 6);
                translate: 0 0 calc(var(--torso-z) / -2);
            }

            /* top */
            &>div:nth-of-type(3) {
                width: calc(var(--torso-x) / 4);
                height: calc(var(--torso-z) / 2);
                rotate: x 90deg;
                transform-origin: top;
                translate: 0 0 calc(var(--torso-z) / -2);
            }

            /* bottom */
            &>div:nth-of-type(4) {
                width: calc(var(--torso-x) / 4);
                height: calc(var(--torso-z) / 2);
                rotate: x 90deg;
                transform-origin: top;
                translate: 0 calc(var(--torso-y) / 6) calc(var(--torso-z) / -2);
            }

            /* left */
            &>div:nth-of-type(5) {
                width: calc(var(--torso-z) / 2);
                height: calc(var(--torso-y) / 6);
                rotate: y 90deg;
                transform-origin: left;
            }

            /* right */
            &>div:nth-of-type(6) {
                width: calc(var(--torso-z) / 2);
                height: calc(var(--torso-y) / 6);
                translate: calc(var(--torso-x) / 4) 0 0;
                rotate: y 90deg;
                transform-origin: left;
            }
        }
    }

    /* top */
    &>div:nth-of-type(3) {
        width: calc(var(--torso-x) / 4);
        height: calc(var(--torso-z) / 2);
        rotate: x 90deg;
        transform-origin: top;
        translate: 0 0 calc(var(--torso-z) / -2);
    }

    /* bottom */
    &>div:nth-of-type(4) {
        width: calc(var(--torso-x) / 4);
        height: calc(var(--torso-z) / 2);
        rotate: x 90deg;
        transform-origin: top;
        translate: 0 calc(var(--torso-y) / 6) calc(var(--torso-z) / -2);
    }

    /* left */
    &>div:nth-of-type(5) {
        width: calc(var(--torso-z) / 2);
        height: calc(var(--torso-y) / 6);
        rotate: y 90deg;
        transform-origin: left;
    }

    /* right */
    &>div:nth-of-type(6) {
        width: calc(var(--torso-z) / 2);
        height: calc(var(--torso-y) / 6);
        translate: calc(var(--torso-x) / 4) 0 0;
        rotate: y 90deg;
        transform-origin: left;
    }
}






/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* LEGS */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* RIGHT FRONT LEG */

rf-leg {
    position: absolute;
    width: calc(var(--torso-x) / 2);
    height: calc(var(--torso-z) / 16 * 2);
    translate: calc(var(--torso-x) / 2) calc(var(--torso-z) / 16 * 12) 0;
    background-color: green;
    animation: walk-right 2s linear var(--walk-s) paused;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* LEFT FRONT LEG */

lf-leg {
    position: absolute;
    width: calc(var(--torso-x) / 2);
    height: calc(var(--torso-z) / 16 * 2);
    translate: 0 calc(var(--torso-z) / 16 * 12) 0;
    background-color: green;
    animation: walk-left 2s linear var(--walk-s) paused;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* RIGHT BACK LEG */

rb-leg {
    position: absolute;
    width: calc(var(--torso-x) / 2);
    height: calc(var(--torso-z) / 16 * 2);
    translate: calc(var(--torso-x) / 2) calc(var(--torso-z) / 16 * 1) 0;
    background-color: green;
    animation: walk-right 2s linear var(--walk-s) paused;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* LEFT BACK LEG */

lb-leg {
    position: absolute;
    width: calc(var(--torso-x) / 2);
    height: calc(var(--torso-z) / 16 * 2);
    translate: 0 calc(var(--torso-z) / 16 * 1) 0;
    background-color: green;
    animation: walk-left 2s linear var(--walk-s) paused;
}

@keyframes walk-left {
    0% {
        transform: rotateX(-45deg);
    }

    12.5% {
        transform: rotateX(45deg);
    }

    25% {
        transform: rotateX(-45deg);
    }

    37.5% {
        transform: rotateX(45deg);
    }

    50% {
        transform: rotateX(-45deg);
    }

    62.5% {
        transform: rotateX(45deg);
    }

    75% {
        transform: rotateX(-45deg);
    }

    87.5% {
        transform: rotateX(45deg);
    }

    100% {
        transform: rotateX(-45deg);
    }
}

@keyframes walk-right {
    0% {
        transform: rotateX(45deg);
    }

    12.5% {
        transform: rotateX(-45deg);
    }

    25% {
        transform: rotateX(45deg);
    }

    37.5% {
        transform: rotateX(-45deg);
    }

    50% {
        transform: rotateX(45deg);
    }

    62.5% {
        transform: rotateX(-45deg);
    }

    75% {
        transform: rotateX(45deg);
    }

    87.5% {
        transform: rotateX(-45deg);
    }

    100% {
        transform: rotateX(45deg);
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* ALL LEGS */

rf-leg>div,
lf-leg>div,
rb-leg>div,
lb-leg>div {
    background-color: blue;
}

/* front */
rf-leg>div:nth-of-type(1),
lf-leg>div:nth-of-type(1),
rb-leg>div:nth-of-type(1),
lb-leg>div:nth-of-type(1) {
    width: calc(var(--torso-x) / 2);
    height: calc(var(--torso-y) / 6 * 5);
    transform-origin: top;
    rotate: x 90deg;
    translate: 0 calc(var(--torso-z) / 8) calc(var(--torso-y) / 6 * -4);
}

/* back */
rf-leg>div:nth-of-type(2),
lf-leg>div:nth-of-type(2),
rb-leg>div:nth-of-type(2),
lb-leg>div:nth-of-type(2) {
    width: calc(var(--torso-x) / 2);
    height: calc(var(--torso-y) / 6 * 5);
    transform-origin: top;
    rotate: x 90deg;
    translate: 0 0 calc(var(--torso-y) / 6 * -4);
}

/* top */
rf-leg>div:nth-of-type(3),
lf-leg>div:nth-of-type(3),
rb-leg>div:nth-of-type(3),
lb-leg>div:nth-of-type(3) {
    display: none;
}

/* bottom */
rf-leg>div:nth-of-type(4),
lf-leg>div:nth-of-type(4),
rb-leg>div:nth-of-type(4),
lb-leg>div:nth-of-type(4) {
    width: calc(var(--torso-x) / 2);
    height: calc(var(--torso-z) / 16 * 2);
    translate: 0 0 calc(var(--torso-y) / 6 * -4);
}

/* left */
rf-leg>div:nth-of-type(5),
lf-leg>div:nth-of-type(5),
rb-leg>div:nth-of-type(5),
lb-leg>div:nth-of-type(5) {
    width: calc(var(--torso-y) / 6 * 5);
    height: calc(var(--torso-z) / 8);
    transform-origin: left;
    rotate: y 90deg;
    translate: 0 0 calc(var(--torso-y) / 6);
}

/* right */
rf-leg>div:nth-of-type(6),
lf-leg>div:nth-of-type(6),
rb-leg>div:nth-of-type(6),
lb-leg>div:nth-of-type(6) {
    width: calc(var(--torso-y) / 6 * 5);
    height: calc(var(--torso-z) / 8);
    transform-origin: left;
    rotate: y 90deg;
    translate: calc(var(--torso-x) / 2) 0 calc(var(--torso-y) / 6);
}



/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* HEAD(er) */

header {
    position: absolute;
    width: var(--head-x);
    height: var(--head-y);
    translate: calc(var(--head-x) / -2 + var(--torso-x) / 2) 0 0;


    &>div {
        background-color: #ff000062;
    }

    /* front */
    &>div:nth-of-type(1) {
        width: var(--head-x);
        height: var(--head-y);
        translate: 0 calc(var(--head-y) / -4) var(--head-z);


        /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
        /* MOUTH */

        mouth {
            position: absolute;
            width: 60%;
            height: 50%;
            translate: calc(var(--head-x) / 5) 100% 0;

            &>div {
                background-color: #ff000062;
            }

            /* front */
            &>div:nth-of-type(1) {
                width: 100%;
                height: 100%;
                /* translate: calc(var(--head-x) / 5) 100% calc(var(--head-z) / 5); */
                translate: 0 0 calc(var(--head-z) / 5);
            }

            /* back */
            &>div:nth-of-type(2) {
                display: none;
            }

            /* top */
            &>div:nth-of-type(3) {
                width: 100%;
                height: calc(var(--head-z) / 5);
                rotate: x 90deg;
                transform-origin: top;
                translate: 0 0 0;
            }

            /* bottom */
            &>div:nth-of-type(4) {
                width: 100%;
                height: calc(var(--head-z) / 5);
                rotate: x 90deg;
                transform-origin: top;
                translate: 0 calc(var(--head-y) / 2) 0;
            }

            /* left */
            &>div:nth-of-type(5) {
                width: calc(var(--head-z) / 5);
                height: 100%;
                transform-origin: left;
                rotate: y 90deg;
                translate: 0 0 calc(var(--head-z) / 5);
            }

            /* left */
            &>div:nth-of-type(6) {
                width: calc(var(--head-z) / 5);
                height: 100%;
                transform-origin: left;
                rotate: y 90deg;
                translate: calc(var(--head-x) / 5 * 3) 0 calc(var(--head-z) / 5);
            }
        }
    }

    /* back */
    &>div:nth-of-type(2) {
        width: var(--head-x);
        height: var(--head-y);
        translate: 0 calc(var(--head-y) / -4) 0;
    }

    /* top */
    &>div:nth-of-type(3) {
        width: var(--head-x);
        height: var(--head-z);
        transform-origin: top;
        rotate: x 90deg;
        translate: 0 calc(var(--head-y) / -4) 0;

        /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
        /* EARS */

        ears {
            position: absolute;
            width: 100%;
            height: 100%;


            &>div {
                width: calc(var(--head-x) / 5);
                height: calc(var(--head-z) / 5 * 2);
            }

            /* left ear */
            &>div:nth-of-type(1) {
                translate: calc(var(--head-x) / 10) 0 0;
            }

            /* right ear */
            &>div:nth-of-type(2) {
                translate: calc(var(--head-x) / 10 * 7) 0 0;
            }

            /* front */
            &>div>div:nth-of-type(1) {
                width: calc(var(--head-x) / 5);
                height: calc(var(--head-y) / 4);
                transform-origin: top;
                rotate: x 90deg;
                translate: 0 calc(var(--head-z) / 5 * 2) 0;
            }

            /* back */
            &>div>div:nth-of-type(2) {
                width: calc(var(--head-x) / 5);
                height: calc(var(--head-y) / 4);
                transform-origin: top;
                rotate: x 90deg;
                translate: 0 0 0;
            }

            /* top */
            &>div>div:nth-of-type(3) {
                width: calc(var(--head-x) / 5);
                height: calc(var(--head-z) / 5 * 2);
                translate: 0 0 calc(var(--head-y) / 4);
            }

            /* bottom */
            &>div>div:nth-of-type(4) {
                display: none;
            }

            /* left */
            &>div>div:nth-of-type(5) {
                width: calc(var(--head-y) / 4);
                height: calc(var(--head-z) / 5 * 2);
                translate: 0 0 calc(var(--head-y) / 4);
                rotate: y 90deg;
                transform-origin: left;
            }

            /* right */
            &>div>div:nth-of-type(6) {
                width: calc(var(--head-y) / 4);
                height: calc(var(--head-z) / 5 * 2);
                translate: calc(var(--head-x) / 5) 0 calc(var(--head-y) / 4);
                rotate: y 90deg;
                transform-origin: left;
            }
        }
    }

    /* bottom */
    &>div:nth-of-type(4) {
        width: var(--head-x);
        height: var(--head-z);
        transform-origin: top;
        rotate: x 90deg;
        translate: 0 calc(var(--head-y) - var(--head-y) / 4) 0;
    }

    /* left */
    &>div:nth-of-type(5) {
        width: var(--head-z);
        height: var(--head-y);
        translate: 0 calc(var(--head-y) / -4) var(--head-z);
        rotate: y 90deg;
        transform-origin: left;
    }

    /* right */
    &>div:nth-of-type(6) {
        width: var(--head-z);
        height: var(--head-y);
        translate: var(--head-x) calc(var(--head-y) / -4) var(--head-z);
        rotate: y 90deg;
        transform-origin: left;
    }
}